<div class="row">
    <div class="col-md-12">
        <!-- BEGIN PORTLET-->
        <div class="portlet light form-fit bordered">
            <!-- BEGIN SAMPLE FORM PORTLET-->
            <div class="portlet-body form ">
                <div class="form-body col-md-15">
                    {{ publiers.titre }}
                    {{ publiers.description }}
                </div>
            </div>
        </div>
    </div>
</div>