<p> Bonjour <b>{{ Professionel.nom }} {{  Professionel.prenom }}</b> </p>
<p> Nous avons créé un compte sur notre site web,<p>
<p> Nous vous invitons à découvrir en détail les fonctionnalités proposées en cliquant <a href="http://www.tanitformation.smartech-tunisie.com/"> ici </a> </p>
<p>Votre Identifiant : <b>{{ Professionel.user.username }}</b></p>
<p>Votre mot de passe : <b>{{ passwordEtudiant }}</b></p>
<br>
<p>Cordialement</p>
<p>Agent Administratif</p>

