{% extends "FaculteAdminBundle::layout.html.twig"%}

{% block content %}
<div class="page-content">
    <!-- BEGIN BREADCRUMBS -->
    <div class="breadcrumbs">
        <h1>Gestion des des Régions</h1>
        <ol class="breadcrumb">
            <li>
                <a href="{{ path('faculte_admin_homepage') }}">Accueil</a> /
            </li>
            <li class="active" >liste des Régions
            </li>
        </ol>
    </div>
    <!-- END BREADCRUMBS -->
    <!-- BEGIN PAGE BASE CONTENT -->
    <div class="row">
        <div class="col-md-12">
            <!-- BEGIN PORTLET-->
            <div class="portlet light form-fit bordered">
                <div class="portlet-title">
                    <div class="caption font-dark">
                        <div class="caption">
                            <i class="fa fa-bookmark font-green "></i>
                            <span class="caption-subject font-green bold uppercase">liste des Régions</span>
                        </div>
                    </div>
                    <div class="actions">

                    </div>
                </div>
                <!-- BEGIN EXAMPLE TABLE PORTLET-->
                <div class="portlet light ">
                    <div class="portlet-title">
                        <div class="caption font-dark">
                            <a  class="btn green-sharp btn-outline  btn-block "  href="{{ path('faculte_admin_ajouter_region')}}"><i class="fa fa-plus-circle "> Région</i></a>
                        </div>
                    </div>
                    <div class="portlet-body">
                        <table class="table table-striped table-bordered table-hover" id="sample_1">
                            <thead>
                            <tr>
                                <th>Région</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% if Regions is not empty %}
                            {% for Region in Regions %}
                            <tr>
                                <td>{{Region.region }}</td>
                            {%endfor  %}
                            {% endif %}
                            </tbody>
                        </table>
                    </div>
                </div>
                <!-- END EXAMPLE TABLE PORTLET-->
            </div>
            <!-- END PORTLET-->
        </div>
    </div>
    <!-- END PAGE BASE CONTENT -->
</div>
{% endblock %}